body{
    margin: 0; 
    height: 100%; 
    overflow: hidden;
}
div{
    display: block;

}
.frame_div{
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}
.frame_event{
    height: 85%;
    width: 100%;
}
.frame{
    height: 100%;
    width: 100%;
}
.main{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
    height:100%;
    width: 100%;
    color: white;

}
.events{
    font-size: 70px;
    text-align: center;
    font-family: monospace;
    text-shadow: blueviolet;
}