html, body { 
  width: 100%;
  height: 100%; 
  margin: 0;
  background: #270F34; 
  overflow: hidden; 
  display: flex; 
  align-items: center; 
  justify-content: center
}
@font-face {
font-family: 'Walt Disney Script Regular';
font-style: normal;
font-weight: normal;
src: local('Walt Disney Script Regular'), url('wds052801.woff') format('woff');
}