@font-face {
	font-family: 'DOS';
	src: url("fonts/VCR_OSD_MONO_1.001.ttf");
	font-weight: 300;
	font-style: normal
}

body{
    font-family: 'DOS';    
}

#main-iframe{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#insta{
    height: 550px;
    max-height: 550px !important;
}

#contact-incharge{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 650px;
    text-align: center;
}

#contact-incharge div{
    margin-top: 4px;        
    margin-bottom: 4px;
    background-color: #000000;
    padding: 3px;
    opacity: 85%;
}

.contact{
    display: inline-block;
    height: 45px;
    font-size: 14px;    
    line-height: 25px;
    border-radius: 25px;    
    text-align: center;
    padding: 8px 5px 8px 5px !important;

}

.contact a{
    font-weight: bold;
    padding-left: 10px;
    padding-right: 10px;
    color: #FFBB18;
    text-decoration-line: none;
}

@media (max-width:900px) {
    #main-iframe{
        flex-direction: column;
    }
}

@media (max-width:600px) {
    #main-iframe{
        flex-direction: column;
    }
}