@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Black.eot");
	src: local("☺"), url("fonts/Montserrat-Black.woff") format("woff"), url("fonts/Montserrat-Black.ttf") format("truetype"), url("fonts/Montserrat-Black.svg") format("svg");
	font-weight: 900;
	font-style: normal
}

@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Bold.eot");
	src: local("☺"), url("fonts/Montserrat-Bold.woff") format("woff"), url("fonts/Montserrat-Bold.ttf") format("truetype"), url("fonts/Montserrat-Bold.svg") format("svg");
	font-weight: 700;
	font-style: normal
}

@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Regular.eot");
	src: local("☺"), url("fonts/Montserrat-Regular.woff") format("woff"), url("fonts/Montserrat-Regular.ttf") format("truetype"), url("fonts/Montserrat-Regular.svg") format("svg");
	font-weight: 400;
	font-style: normal
}

@font-face {
	font-family: 'Montserrat';
	src: url("fonts/Montserrat-Light.eot");
	src: local("☺"), url("fonts/Montserrat-Light.woff") format("woff"), url("fonts/Montserrat-Light.ttf") format("truetype"), url("fonts/Montserrat-Light.svg") format("svg");
	font-weight: 300;
	font-style: normal
}

@font-face {
	font-family: 'DOS';
	src: url("fonts/VCR_OSD_MONO_1.001.ttf");
	font-weight: 300;
	font-style: normal
}

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */

html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%
}

body {
	margin: 0
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
	display: block
}

audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline
}

audio:not([controls]) {
	display: none;
	height: 0
}

[hidden],
template {
	display: none
}

a {
	background-color: transparent
}

a:active,
a:hover {
	outline: 0
}

abbr[title] {
	border-bottom: 1px dotted
}

b,
strong {
	font-weight: bold
}

dfn {
	font-style: italic
}

h1 {
	font-size: 2em;
	margin: 0.67em 0
}

mark {
	background: #ff0;
	color: #000
}

small {
	font-size: 80%
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

sup {
	top: -0.5em
}

sub {
	bottom: -0.25em
}

img {
	border: 0
}

svg:not(:root) {
	overflow: hidden
}

figure {
	margin: 1em 40px
}

hr {
	box-sizing: content-box;
	height: 0
}

pre {
	overflow: auto
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em
}

button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0
}

button {
	overflow: visible
}

button,
select {
	text-transform: none
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer
}

button[disabled],
html input[disabled] {
	cursor: default
}

button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0
}

input {
	line-height: normal
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto
}

input[type="search"] {
	-webkit-appearance: textfield;
	box-sizing: content-box
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em
}

legend {
	border: 0;
	padding: 0
}

textarea {
	overflow: auto
}

optgroup {
	font-weight: bold
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

td,
th {
	padding: 0
}

::-moz-selection {
	background: #FFF498
}

::selection {
	background: #FFF498
}

::-moz-selection {
	background: #FFF498
}

img::-moz-selection {
	background: transparent
}

img::selection {
	background: transparent
}

img::-moz-selection {
	background: transparent
}

body {
	-webkit-tap-highlight-color: #FFF498
}

body {
	background-image: url("../images/bg_mag_21.jpg");
    background-repeat: no-repeat;
  	background-size: cover;
	background-color:black;
	font-size: 14px;
	line-height: 1.6;
	font-family: "Montserrat", sans-serif;
	color: white;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%
}

@media screen and (max-width: 900px) {
	body {
		background-size:auto auto;
	}
}

.l-viewport {
	position: relative;
	width: 100%;
	height: 100vh;
	box-shadow: 0 0 45px 5px rgba(0, 0, 0, 0.85);
	overflow: hidden
}

.l-wrapper {
	position: relative;
	width: 1440px;
	max-width: 90%;
	height: 100%;
	margin: 0 auto
}

.l-side-nav {
	position: absolute;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	height: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center
}

.l-side-nav::before {
	content: "";
	position: absolute;
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 2px;
	height: 70%;
	max-height: 750px;
	background-color: #fff;
	opacity: .35;
	z-index: 10
}
.ch{
	height : 140%;
	width: 20%;
	position: absolute;
	top: 15%;
	left: -4.5%;
}

@media(max-width:500px){
	.ch{
		width: 50%!important;
		height: 100%;
	}
}
@media(max-width:800px){
	.ch{
		width: 37%;
	}
}
@media (max-width: 1180px) {
	.l-side-nav {
		display: none
	}
}

.l-main-content {
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	list-style: none
}

.l-section {
	position: absolute;
	width: 100%;
	height: 100%
}


.device-notification {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #0c0c0c;
	z-index: 12
}

.device-notification--logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	color: #fff
}

.device-notification--logo p {
	margin: 0 0 0 10px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase
}

.device-notification--message {
	width: 70%;
	margin: 30px 0 0 0;
	font-weight: 700;
	text-align: center
}

@media (max-width: 767px) and (min-width: 601px) and (max-height: 680px) {
	.device-notification {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

@media (max-width: 600px) and (min-width: 480px) and (max-height: 580px) {
	.device-notification {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

@media (max-width: 736px) and (min-width: 360px) and (orientation: landscape) {
	.device-notification {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

@media(max-width: 359px) {
	.device-notification {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex
	}
}

.section {
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .4s ease-in-out, visibility 0s .4s;
	transition: opacity .4s ease-in-out, visibility 0s .4s
}

.section--is-active {
	opacity: 1;
	visibility: visible;
	z-index: 1;
	-webkit-transition: opacity .4s ease-in-out .4s;
	transition: opacity .4s ease-in-out .4s
}

.section--next {
	-webkit-transform: translateY(-45px);
	transform: translateY(-45px);
	-webkit-transition: -webkit-transform .4s ease-in-out;
	transition: -webkit-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
	transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}

.section--prev {
	-webkit-transform: translateY(45px);
	transform: translateY(45px);
	-webkit-transition: -webkit-transform .4s ease-in-out;
	transition: -webkit-transform .4s ease-in-out;
	transition: transform .4s ease-in-out;
	transition: transform .4s ease-in-out, -webkit-transform .4s ease-in-out
}

.header {
	position: absolute;
	top: 0;
	left: 0;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	height: 70px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	z-index: 10
}

.header--logo {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	text-decoration: none;
	color: #fff
}

.header--logo p {
	margin: 0 0 0 10px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase
}

.header--nav-toggle {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 50px;
	height: 50px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	cursor: pointer
}

.header--nav-toggle span,
.header--nav-toggle::before,
.header--nav-toggle::after {
	content: "";
	position: relative;
	width: 16px;
	height: 2px;
	background-color: #fff
}

.header--nav-toggle::before {
	bottom: 5px;
	width: 23px
}

.header--nav-toggle::after {
	top: 5px;
	width: 23px
}
.reg{
	position: absolute;
	top: 70%;
	left: 33%;
	padding-left: 8%;
	line-height: 3;
	align-items: center;
}@media(max-width:800px){
	.reg{
		left: 45%;
	}
}
.header--cta {

	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	padding: 0 20px;
	line-height: 30px;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #FFBB18;
	border: none;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity .4s ease-in-out, visibility 0s .4s;
	transition: opacity .4s ease-in-out, visibility 0s .4s
}

.header--cta:focus {
	outline: none
}

.header--cta.is-active {

	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .4s ease-in-out .4s;
	transition: opacity .4s ease-in-out .4s
}

@media (max-width: 767px) {
	.header--cta {
		display: none
	}
}

.side-nav {
	color: #FFBB18
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 213px;
	height: 70%;
	max-height: 750px;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
	margin: 0;
	padding: 0;
	list-style-position: inside;
	z-index: 10
}

.side-nav>li {
	position: relative;
	top: -5px;
	left: -2px;
	color: #FFBB18;
	font-size: 19px;
	cursor: pointer
}

.side-nav>li span {
	position: relative;
	top: 3px;
	left: 10px;
	color: #fff;
	font-size: 14px;
	font-weight: 300;
	opacity: 0;
	visibility: hidden
}

.side-nav>li::before {
	color: #FFBB18
	position: absolute;
	top: 3px;
	left: 10px;
	color:darkgrey;
	font-size: 38px;
	font-weight: 300
}

.side-nav li::before{
	font-weight: 800;
	font-size: 38px;
	color: #FFBB18;
}

.side-nav li:nth-child(1)::before {
	content: "Home"
}

.side-nav li:nth-child(2)::before {
	content: "Events"
}

.side-nav li:nth-child(3)::before {
	content: "Gallery"
}

.side-nav li:nth-child(4)::before {
	content: "About Us"
}

.side-nav li:nth-child(5)::before {
	content: "Contact Us"
}




.side-nav li.is-active {
	animation: blinker 2s linear infinite;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out
}

.side-nav li.is-active span {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity .4s ease-in-out;
	transition: opacity .4s ease-in-out
}

.side-nav li.is-active::before {
	color: #FFBB18;
	font-size: 38px;
	text-shadow: 0px 3px black;
}

.home-nav{
	animation: none !important;
}
.intro {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 900px;
	max-width: 75%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
    margin-left: 15%;
}

@media (max-width: 1180px) {
	.intro {
		max-width: 100%;
		margin-left: 0;
	}

	.intro--banner {
		margin-top:120px;
	}
}

@media (max-width: 900px) {
	.intro--banner {
		margin-top: 50px;
	}
}

.intro--banner {
	position: relative;
	height: 441px;
}


.intro--banner h1 {
	position: relative;
	font-size: 68px;
	font-weight: 900;
	line-height: 1;
	z-index: 1
}

.intro--banner button {
	position: relative;
	padding: 5px 17px 5px 12px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: transparent;
	border: none
}

.intro--banner button .btn-background {
	position: absolute;
	top: 0;
	left: 23px;
	right: 0;
	height: 100%;
	background-color: #FFBB18;
	z-index: -1;
	-webkit-transition: left .2s ease-in-out;
	transition: left .2s ease-in-out
}

.intro--banner button:hover .btn-background {
	left: 0
}

.intro--banner button:focus {
	outline: none
}

.intro--banner button svg {
	position: relative;
	left: 5px;
	width: 15px;
	fill: #fff
}

@media screen and  (min-width:800px) {
	.mag-custom-logo {
		margin-top: 30px;
		display: block !important;
		position: static;
		width: 60%;
	}
}

@media screen and  (max-width:799px) {
	.mag-custom-logo {
		display: block !important;
		position: static;
		width: 50%;
	}
}

.intro--banner .banner-img {
	position: absolute;
	bottom: 21px;
	right: -12px
}

.intro--options {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none
}

.intro--options>a {
	max-width: 250px;
	text-decoration: none;
	color:white;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out
}

.intro--options>a:hover {
	color: darkgreen;
}

.intro--options h3 {
	font-size: 16px;
	text-transform: uppercase
}

.intro--options p {
	margin-bottom: 0
}
/* .intro--options>li {
	max-width: 250px;
	text-decoration: none;
	color: #282828;
	-webkit-transition: color .2s ease-in-out;
	transition: color .2s ease-in-out
}
.intro--options>li:hover {
	color: #fff
}
.intro--options>ul li{
    display: inline;
} */
.timer{
	position: absolute;
	top: 8%;
	right: -13%;
}
.cli {
	display: inline-block;
	font-size: 15px;
	list-style-type: none;
	padding: 1em;
	text-transform: uppercase;
  }

.cli > span {
	text-align: center;
	display: block;
	font-size: 20px;
}
@media(max-width:1025px){
	.timer{
		position: absolute!important;
		top: 18%!important;
		right: 0%;
	}
}
@media(max-width:1440px){
	.timer{
		position: absolute!important;
		top: 18%!important;
		right: -13%;
	}
}
@media (max-width: 900px) {
	.intro--banner {
		height: 380px
	}
	.intro--banner h1 {
		font-size: 55px
	}
	.intro--banner img {
		width: 430px
	}
	.intro--options>a {
		margin-right: 30px
	}
	.intro--options>a:last-child {
		margin-right: 0
	}
	.abt{
		display: none;
	}
	.intro--banner::after , .intro--banner::before{
		display: none;
	}
	.timer{
		position: absolute;
		top: 8%;
		right: -0% !important;
	}
}

@media (max-width: 767px) {
	.intro--banner {
		height: 305px
	}
	.intro--banner h1 {
		font-size: 44px
	}
	.intro--banner img {
		width: 330px
	}
	.intro--options {
		display: block
	}
	.intro--options>a {
		display: block;
		max-width: 100%;
		margin: 0 0 30px 0
	}
	.intro--options>a:last-child {
		margin-bottom: 0
	}
	.abt{
		display: none;
	}
}

@media (max-width: 600px) {
	.intro{
		position: absolute;
		top: -15%;
	}
	.intro--banner {
		position: relative;
		top: 5%;
		height: 360px
	}
	.intro--banner h1 {
		font-size: 55px
	}
	.intro--banner img {
		display: none
	}
	.abt{
		display: none;
	}
	.timer{
		position: absolute;
		top: 88%!important;
		right: 19% !important;
	}.cli {
		font-size: 10px;
		padding: 1em;
	  }

	.cli > span {
		font-size: 15px;
	}
}

@media (max-width: 600px) and (max-height: 750px) {
	.intro--banner {
		height: auto
	}
	.intro--banner::before,
	.intro--banner::after {
		display: none
	}
	.intro--banner h1 {
		margin-top: 0
	}
	.intro--options {
		display: none
	}
	.intro{
		position: absolute;
		top: -0%;
	}
}
@media(max-width:400px){
	.sec{
		display: none;
	}
}

.work {
	margin-right: 50px !important;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 1114px;
	max-width: 80%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto
}

@media (max-width: 1180px) {
	.work {
		max-width: 100%
	}
}

.work h1 {
	margin: 20px 0 0 0;
	font-size: 55px;
	font-family: DOS;
    font-variant-caps: all-petite-caps;
	text-align: center
}

.work--lockup {
	position: relative
}

.work--lockup .slider {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 80%;
	margin: 0 auto;
	padding: 0;
	list-style: none
}

.work--lockup .slider--item {
	position: absolute;
	display: none;
	text-align: center
}

.work--lockup .slider--item a {
	text-decoration: none;
	color: #858585
}

.work--lockup .slider--item-title {
	/* position: absolute!important;
	top: 55%!important; */
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase
}

.work--lockup .slider--item-description {
	display: none;
	max-width: 250px;
	font-size: 20px;
	margin: 0 auto
}

.work--lockup .slider--item-image {
	width: 150px;
	height: 150px;
	margin: 0 auto;
	border-radius: 50%;
	overflow: hidden
}

.work--lockup .slider--item-image img {
	width: 100%
}

.work--lockup .slider--item-left {
	top: 50%;
	left: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block
}

.work--lockup .slider--item-right {
	top: 50%;
	right: 0;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block
}

.work--lockup .slider--item-center {
	position: relative;
	top: 30px;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	display: block
}

.work--lockup .slider--item-center a {
	color: #fff
}

.work--lockup .slider--item-center .slider--item-title {
	font-size: 25px
}

.work--lockup .slider--item-center .slider--item-description {
	display: block
}

.work--lockup .slider--item-center .slider--item-image {
	width: 300px;
	height: 300px
}

.work--lockup .slider--next,
.work--lockup .slider--prev {
	position: absolute;
	top: 160px;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 50px;
	height: 50px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: #282828;
	border-radius: 50%;
	cursor: pointer
}

.work--lockup .slider--next svg,
.work--lockup .slider--prev svg {
	width: 20px;
	fill: #fff
}

.work--lockup .slider--next {
	right: 0
}

.work--lockup .slider--prev {
	left: 0
}
.dance_div{
	position: fixed;
	right: 0%;
	top: 3%;
	height: 100%;
}
.dance{
	position: fixed;
	right: -0%;
	top: 10%;
	height: 70%;
	width: 18.5%;
}
.dance_text1{
	position: fixed;
	top: 75%;
	right: 2%;
}
.dance_text2{
	position: fixed;
	top: 81%;
	right: 3%;
}
.dance_link{
	text-decoration: none;
	color: white;
}
@media(max-width:1440px){
	.dance_text1{
		position: fixed;
		top: 78%;
		right: 2%;
	}
	.dance_text2{
		position: fixed;
		top: 84%;
		right: 3%;
	}
}
@media(max-width:800px){
	.dance{
		display: none;
	}
	.dance_text1{
		display: none;
	}
	.dance_text2{
		display: none;
	}
}
@media (max-width: 900px) {
	.work--lockup .slider--item-image {
		width: 90px;
		height: 90px
	}
	.work--lockup .slider--item-center .slider--item-image {
		width: 190px;
		height: 190px
	}
	.work--lockup .slider--next,
	.work--lockup .slider--prev {
		top: 105px
	}
}

@media (max-width: 767px) {
	.work--lockup .slider {
		width: 75%
	}
	.work--lockup .slider--item-image {
		width: 90px;
		height: 90px
	}
	.work--lockup .slider--item-center .slider--item-image {
		width: 190px;
		height: 190px
	}
	.work--lockup .slider--next,
	.work--lockup .slider--prev {
		top: 105px
	}
}

@media (max-width: 600px) {
	.work--lockup .slider {
		width: auto
	}
	.work--lockup .slider--item-left,
	.work--lockup .slider--item-right {
		display: none
	}
}

.about {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 900px;
	max-width: 75%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto
}

@media (max-width: 1180px) {
	.about {
		max-width: 100%
	}
}

.about--banner {
	position: relative;
	height: 475px
}

.about--banner h2 {
	position: relative;
	margin-top: 40px;
	font-size: 50px;
	font-weight: 900;
	line-height: 1;
	z-index: 1
}

.about--banner h2 span {
	font-size: 80px;
}

.about--banner p {
	margin-top: 0;
	width: 70%;
}

.about--banner a {
	padding: 5px 17px 5px 0;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background-color: transparent
}

.about--banner a:hover svg {
	left: 10px
}

.about--banner a svg {
	position: relative;
	left: 5px;
	width: 15px;
	fill: #fff;
	-webkit-transition: left .2s ease-in-out;
	transition: left .2s ease-in-out
}

.about--banner img {
	position: absolute;
	bottom: -90px;
	right: -12px
}

.about--options {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 1300px;
	max-width: 1000px;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin: 0;
	padding: 0;
	list-style: none
}

.about--options>a {
	position: relative;
	top: -50px;
	width: 230px;
	height: 100px;
	text-decoration: none;
	color: #fff;
	border: 5px solid #0030ff;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat
}

.about--options>a:nth-child(1) {
	background-image: url("../images/about-winners.jpg")
}

.about--options>a:nth-child(2) {
	background-image: url("../images/about-philosophy.jpg")
}

.about--options>a:nth-child(3) {
	background-image: url("../images/about-history.jpg")
}

.about--options>a:nth-child(4) {
	background-image: url("../images/abt-psycho.JPG")
}

.about--options h3 {
	position: absolute;
	text-align: center;
	top: 100px;
	left: 10px;
	font-size: 16px;
	text-transform: uppercase;
	-webkit-transition: bottom .2s ease-in-out, left .2s ease-in-out;
	transition: bottom .2s ease-in-out, left .2s ease-in-out
}
.abt{
	height: 60%;
	width: 100%;
	text-align: justify;
}
@media (max-width: 900px) {
	.about--banner {
		height: 305px
	}
	.about--banner::before {
		top: 0;
		left: 125px
	}
	.about--banner::after {
		top: 35px;
		left: 260px
	}
	.about--banner h2 {
		margin-top: 10px;
		font-size: 40px
	}
	.about--banner h2::before {
		top: 28px;
		left: 168px
	}
	.about--banner h2::after {
		top: 163px;
		left: 163px
	}
	.about--banner img {
		width: 315px
	}
	#abt{
		display: none;
	}
}

@media (max-width: 600px) {
	.about{
		position: relative;
		top: -17%;
	}
	.about--banner {
		height: auto
	}
	.about--banner::before {
		left: 155px
	}
	.about--banner::after {
		left: 310px
	}
	.about--banner h2 {
		margin-top: 0;
		font-size: 50px
	}
	.about--banner h2::before {
		top: 43px;
		left: 214px
	}
	.about--banner h2::after {
		top: 205px;
		left: 205px
	}
	.about--banner img {
		display: none
	}
	.about--options {
		display: none
	}
	.abt1{
		display: block!important;
		position: absolute!important;
		top: 70%!important;
		left: 0%;
	}
}
.abt1{
	display: none;
}
.contact {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat
}

.contact--lockup {
	width: 100%;
	max-width: 75%;
	margin: 100px auto;
}

#contact-iframe{
	padding-left: 85px;
	width: 100%;
	height: 75vh;
}

#contact-heading{
	font-family: 'DOS';
	font-size: 38px;
	margin: 0px;
	text-align: center;
	padding-left: 100px;
}

@media (max-width: 1180px) {
	.contact--lockup {
		max-width: 90%;
		text-align: center;
	}
	#contact-iframe{
		padding-left: 0px;
		width: 80%;
	}
	
	#contact-heading{
		padding-left: 0px;
		margin-top: 100px;
		font-size: 32px;
	}
}

@media (max-width: 900px){
	.contact--lockup {
		margin-top: 70px;
	}

	#contact-iframe{
		padding-left: 0px;
		width: 100%;
	}
	
	#contact-heading{
		padding-left: 0px;
		margin-top: 120px;
		font-size: 26px;
	}
}

@media (max-width: 767px) {
	.contact--lockup {
		justify-content: center;
	}
	
	#contact-iframe{
		padding-left: 0px;
		width: 100%;
	}

	#contact-heading{
		padding-left: 0px;
	}
}

@media(max-width: 480px){
	#contact-heading{
		margin-top: 0px;
	}
}

.dance_gal{
	display: none;
}
#outnav_dance{
	display: none;
}
@media(max-width:1440px){
	.modal{
		padding-top: 5px;
		font-size: 15px;
	}
	.modal--options{
		top:-70%!important;
	}
}
@media(max-width:500px){
	.gallery{
		display:block;
		width:80%;
	}
	.dance_gal{
		display: none;
	}
	#outnav_gal{
		display: block;
	}
	#outnav_dance{
		display: none;
	}
	.dance1{
		display:none;
		position: absolute;
		top: 7%;
		height: 80%;
		width: 100%;
	}
	.dance_text1_gal{
		position: absolute;
		top: 81%;
		left: 25%;

	}
	.dance_text2_gal{
		position: absolute;
		top: 86%;
		left: 28%;
	}

	.t1{
		display: none;
	}
	.t2{
		padding: 0px;
		margin: 0px;
		display: block;
		position: relative;
		top: -10% !important;
		left: -10% !important;
		font-size: 11px !important;
	}

	.contact--lockup .modal{
		padding-top: 5% !important;
		padding: 0px;
		position: absolute;
		top: 10%;
		left: 10%;
		align-items: center;
		height: 60%;
		width: 100%;
		text-align: center;
	}
	a{
		padding: 0px;
		margin: 0px;
	}
	.modal--options{
		position: absolute;
		top: 5% !important;
		left: 0%;
		display:inline;
	}

	.contact--lockup .modal--options>li {
	width: 130px;
	margin: 0px auto 25px auto;
}

.contact--lockup .modal--options li:nth-child(1) {
	background-color: darkred
}

.contact--lockup .modal--options li:nth-child(2) {
	background-color: darkgreen;

}
}
.contact--lockup .modal--options a {
	display: block;
	width: 100%;
	padding: 8px 0;
	text-decoration: none;
	color: #fff;
	font-weight: 700
}

.gallery {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 900px;
	max-width: 100%;
	height: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0 auto;
}

.gal_war{
	display: none;
}
@media(max-width:800px) and (max-height:700px){
	.modal{
		position: relative;
		left: 0%!important;
		padding-top: 2%;
		font-size: 12px;
		height: 15%!important;
	}
	.modal--options{
		position: relative;
		top: 10%!important;
		left: 0%!important;
	}
}
@media(max-width:1025) and (max-height:853px){
	.modal{
		position: relative;
		left: 0%!important;
		padding-top: 3%!important;
		font-size: 12px;
		height: 15%!important;
	}
	.modal--options{
		position: relative;
		top: 10%;
		left: 0%!important;
	}
}
@media (max-width: 1180px) {
	.gallery {
		max-width: 100%;
	}
}
@media(max-width:500px) and (max-height:700px){
	.modal{
		height: 70%!important;
	}
}
@media(max-height:800px){
	.modal{
		height: 65%;
	}
}

.gallery h2 {
	font-size: 55px;
    font-family: DOS;
    font-variant-caps: all-petite-caps;
	margin: 0 0 10px 0;
	text-align: center
}

.work-request {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff
}

.work-request input[type="submit"] {
	width: 400px;
	max-width: 100%;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	background-color: #0f33ff;
	border: none;
	border-radius: 0
}

.work-request input[type="submit"]:focus {
	outline: none
}

.work-request--options {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 30px 0
}

.work-request--options .options-a {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between
}

.work-request--options .options-b {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 72%;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around
}

.work-request--options label {
	display: block;
	width: 200px;
	margin-bottom: 30px;
	line-height: 50px;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	border: 2px solid #fff;
	cursor: pointer;
	-webkit-transition: background-color .2s ease-in-out, border-color .2s ease-in-out;
	transition: background-color .2s ease-in-out, border-color .2s ease-in-out
}

.work-request--options label svg {
	position: relative;
	left: -5px;
	width: 0;
	fill: #fff;
	-webkit-transition: width .2s ease-in-out;
	transition: width .2s ease-in-out
}

.work-request--options input[type="checkbox"] {
	display: none
}

.work-request--options input[type="checkbox"]:checked+label {
	background-color: #0f33ff;
	border-color: #0f33ff
}

.work-request--options input[type="checkbox"]:checked+label svg {
	width: 15px
}

.work-request--information {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 60px
}

.work-request--information .information-name,
.work-request--information .information-email {
	position: relative;
	width: 45%;
	height: 50px;
	font-size: 30px;
	font-weight: 300
}

.work-request--information input[type="text"],
.work-request--information input[type="email"] {
	width: 100%;
	padding: 0 0 5px 0;
	background-color: transparent;
	border: none;
	border-bottom: 1px solid #fff;
	border-radius: 0
}

.work-request--information input[type="text"]:focus,
.work-request--information input[type="email"]:focus {
	outline: none;
	background-color: #0c0c0c
}

.work-request--information label {
	position: absolute;
	top: 0;
	left: 0;
	pointer-events: none;
	-webkit-transition: top .2s ease-in-out, font-size .2s ease-in-out;
	transition: top .2s ease-in-out, font-size .2s ease-in-out
}

.work-request--information input:focus+label,
.work-request--information input.has-value+label {
	top: -15px;
	font-size: 14px
}

@media (max-width: 767px) {
	.work-request--options {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		-webkit-flex-direction: row;
		-ms-flex-direction: row;
		flex-direction: row;
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around
	}
	.work-request--options .options-a,
	.work-request--options .options-b {
		display: block;
		width: auto
	}
}

@media (max-width: 600px) {
	.work-request--options {
		margin: 20px 0
	}
}

@media (max-width: 600px) and (max-width: 415px) {
	.work-request--options {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between
	}
}

@media (max-width: 600px) {
	.work-request--options label {
		width: 150px;
		margin-bottom: 15px;
		font-size: 14px
	}
	.work-request--options input[type="checkbox"]:checked+label svg {
		width: 12px
	}
	.work-request--information {
		margin-bottom: 30px
	}
	.work-request--information .information-name,
	.work-request--information .information-email {
		height: 40px;
		font-size: 24px
	}
}

.perspective {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden
}

.perspective--modalview {
	position: fixed;
	-webkit-perspective: 1500px;
	perspective: 1500px
}

.container {
	position: relative;
	-webkit-transform: translateZ(0) translateX(0) rotateY(0deg);
	transform: translateZ(0) translateX(0) rotateY(0deg);
	min-height: 100%;
	outline: 20px solid #ffa500;
	-webkit-transition: -webkit-transform .4s;
	transition: -webkit-transform .4s;
	transition: transform .4s;
	transition: transform .4s, -webkit-transform .4s
}

.modalview .container {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden
}

.effect-rotate-left .container {
	-webkit-transform-origin: 0% 50%;
	transform-origin: 0% 50%;
	-webkit-transition: -webkit-transform .4s;
	transition: -webkit-transform .4s;
	transition: transform .4s;
	transition: transform .4s, -webkit-transform .4s
}

.effect-rotate-left--animate .container {
	-webkit-transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
	transform: translateZ(-1800px) translateX(-50%) rotateY(45deg);
	outline: 10px solid #ffa500
}

.outer-nav {
	position: absolute;
	top: 50%;
	left: 55%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	margin: 0;
	padding: 0;
	list-style: none;
	text-align: center;
	visibility: hidden;
	-webkit-transition: visibility 0s .2s;
	transition: visibility 0s .2s
}

.outer-nav.is-vis {
	visibility: visible
}

.outer-nav--return {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
	cursor: pointer;
	z-index: 11
}

.outer-nav--return.is-vis {
	display: block
}

.outer-nav>li {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: translateX(350px) translateZ(-1000px);
	transform: translateX(350px) translateZ(-1000px);
	font-size: 55px;
	font-weight: 900;
	opacity: 0;
	cursor: pointer;
	-webkit-transition: opacity .2s, -webkit-transform .2s;
	transition: opacity .2s, -webkit-transform .2s;
	transition: transform .2s, opacity .2s;
	transition: transform .2s, opacity .2s, -webkit-transform .2s
}

.outer-nav>li.is-vis {
	-webkit-transform: translateX(0) translateZ(0);
	transform: translateX(0) translateZ(0);
	opacity: 1;
	-webkit-transition: opacity .4s, -webkit-transform .4s;
	transition: opacity .4s, -webkit-transform .4s;
	transition: transform .4s, opacity .4s;
	transition: transform .4s, opacity .4s, -webkit-transform .4s
}

.outer-nav>li::before {
	content: "";
	position: absolute;
	top: 90%;
	left: 50%;
	-webkit-transform: translate(-50%, -25%);
	transform: translate(-50%, -25%);
	width: 110%;
	height: 8px;
	opacity: 0;
	background-color: #ffa500;


}

.outer-nav>li.is-active::before {
	opacity: 1
}

@media (max-width: 767px) {
	.outer-nav>li {
		font-size: 44px
	}
}

@media (max-width: 600px) {
	.outer-nav>li {
		font-size: 34px
	}
}

.outer-nav li.is-vis:nth-child(2) {
	-webkit-transition-delay: .04s;
	transition-delay: .04s
}

.outer-nav li.is-vis:nth-child(3) {
	-webkit-transition-delay: .08s;
	transition-delay: .08s
}

.outer-nav li.is-vis:nth-child(4) {
	-webkit-transition-delay: .12s;
	transition-delay: .12s
}

.outer-nav li.is-vis:nth-child(5) {
	-webkit-transition-delay: .16s;
	transition-delay: .16s
}

#gal {
	overflow-x: auto !important;
    overflow-y: auto !important;
}

#gal::-webkit-scrollbar {
	display: none!important;
}

#gal_button {
	position: absolute;
	top: 92%;
	left: 38%;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	text-transform: uppercase;
	background-color: darkgreen;
	border: none;
}
@font-face {
	font-family: 'Amalfi Coast Regular';
	font-style: normal;
	font-weight: normal;
	src: local('Amalfi Coast Regular'), url('fonts/Amalfi Coast.woff') format('woff');
}

#mag {
	font-family: 'Amalfi Coast Regular';
	font-weight: normal;
	font-size: 40px;
	color: darkred;
}

#mag1 {
	font-family: 'Amalfi Coast Regular';
	font-weight: normal;
	font-size: 40px;
	color: white;
}

#ren {
	font-family: 'Cinzel', serif;
	color: white !important;
	font-size: 70px;
}

.magn {
	height: 120%;
	width: 60%;
    left: 62% !important;
    top: 27% !important;
}

@keyframes blinker {
	25% {
		color: darkred;
	}
	50% {
		opacity: 0;
	}
	75% {
		color: darkgreen;
	}
}

@media screen and (max-width: 800px) {
	#mag {
		font-family: 'Amalfi Coast Regular';
		font-weight: normal;
		font-size: 35px;
		color: darkred;
	}
	.magn {
		height: 60% !important;
		width: 50% !important;
	}
	#ren {
		font-family: 'Cinzel', serif;
		color: darkgreen;
		font-size: 50px;
	}
}

@media screen and (max-width: 450px) {}

@media screen and (max-width: 1100px) {
	.magn {
		height: 60%;
		width: 50%;
		left: 55% !important;
		top: 20% !important;
	}
}

.dos-font {
	font-family: DOS;
    font-variant-caps: all-petite-caps;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100%;
}

.cards {
    width: 100%;
    display: flex;
    display: -webkit-flex;
    justify-content: center;
    -webkit-justify-content: center;
}

.card--1 .card__img, .card--1 .card__img--hover {
    background-image: url('../images/tech_events.png');
}

.card--2 .card__img, .card--2 .card__img--hover {
    background-image: url('../images/mang_events.jpg');
}

.card--3 .card__img, .card--3 .card__img--hover {
    background-image: url('../images/arch_events.png');
}

.card--4 .card__img, .card--4 .card__img--hover {
    background-image: url('../images/psy_events.jpg');
}

.card__like {
    width: 18px;
}


.card__img {
  visibility: hidden;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;

}

.card__info-hover {
    position: absolute;
    padding: 16px;
	height: 100%;
  width: 100%;
  opacity: 0;
  top: 0;
}

.card__img--hover {
  transition: 0.2s all ease-out;
  background-color:black
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
  position: absolute;
    height: 235px;
  border-top-left-radius: 12px;
border-top-right-radius: 12px;
top: 0;

}

.card {
  margin-right: 25px;
  transition: all .4s cubic-bezier(0.175, 0.885, 0, 1);
  background-color: black;
  display: inline-block;
  width: 33.3%;
  position: relative;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0px 13px 10px -7px rgba(0, 0, 0,0.1);
}

.card:hover {
  box-shadow: 0px 30px 18px -8px rgba(0, 0, 0,0.1);
    transform: scale(1.10, 1.10);
}

@media screen and (max-width: 800px) {
	.cards {
		display: block;
		overflow-y: auto;
    	height: 80vh;
	}

	.card {
		margin-top: 20px;
		width: 100%;
		display: block;
	}

	.card__clock-info {
		margin-left: 20px;
	}

	.card:hover .card__info {
		margin-left: 10px;
	}
}

.card__info {
z-index: 2;
  background-color: black;
  color: white;
  border-bottom-left-radius: 12px;
border-bottom-right-radius: 12px;
   padding: 16px 24px 24px 24px;
}

.card__category {
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 2px;
    font-weight: 500;
  color: #868686;
}

.card__title {
    margin-top: 5px;
    margin-bottom: 10px;
    font-family: 'DOS';
	color: #FFBB18;
	line-height: 22px;
	font-variant-caps: all-petite-caps;
	font-size:30px;
}

.card__by {
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
}

.card__author {
    font-weight: 600;
    text-decoration: none;
    color: #AD7D52;
}

.card__time {
	color: white;
}

.card:hover .card__img--hover {
    height: 100%;
    opacity: 0.3;
}

.card:hover .card__info {
    background-color: transparent;
    position: relative;
}

.card:hover .card__info-hover {
    opacity: 1;
}

.custom_btn {
	background-color: white;
	color: black;
	border: 2px solid #e7e7e7;
  }

@media(max-width:500px){
	
	.gallery{
		margin-top: 50px;
		padding:10px; 
		width:100%;
		display: inline-block;
		
	}
	#gal{
		width:100%;
		height:100%;
		margin-left:0%;
		
		
	}
	#gal_button{
		position: relative;
		left: 5%!important;
	}
	.gal_war{
		display: none;
		position: relative;
		top: 10%;
		font-size: 20px;
	}

}

/* Gallery */
@media screen and (min-width: 1100px) {
	.gallery {
		margin-right: 160px !important;
	}
}

.counter {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    align-items: center;
    font-size: x-large;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    background-color: #d74c7f;
    box-shadow: 2px 2px 10px black;
    transition-duration: 300ms;
}
.about_mag-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.counter_container{
	position: absolute;
    right: -15%;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
}
.abt h2 span {
  color: #FFBB18;
 }
.abt {
    width:555px;
 }
.counter-sub-container{
	margin : 20px;
	color: : white;
}
.counter-title span {
  font-weight: bold;
   font-family: Arial, Helvetica, sans-serif;
}

/* TODO: Remove */
@media screen and (max-width: 600px) {
	.counter_container {
		display: none;
	}
}
/* Dev List @ Contact us  */
.dev-list {
	font-size: 30px;
	position: absolute;
	left: 35%;
	bottom: 1em;
	padding: 10px;
	padding-left:20px;
	width: 550px;
	height: 100px;
	opacity: 0;
	z-index: 1;
	font-size: 1em;
	color: #fff;
	transition-property: all;
	transition-duration: .35s;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	box-shadow: 5px 5px 5px rgb(0, 0, 0);
  }
  .dev-list li {
   font-size:15px;
   padding : 1px;
  }
  
  ul .dev-list{
	  padding-bottom:0px;
  }
  
  .triggerButton{
	  position:fixed;
	  width:60px;
	  height:60px;
	  bottom:40px;
	  right: 1em;
	  background-color: #536878;
	  color:#FFF;
	  border-radius:50px;
	  text-align:center;
	  box-shadow: 2px 2px 3px rgb(0, 0, 0);
	  font-size:35px;
	  border-width: 0;
	  padding:1px;
  }
  
  .triggerButton:hover ~ .dev-list {
	opacity: 1;
	background-color: #0F4C81;
	transform: translateY(-5em);
  }
  
  .triggerButton:hover ~ .dev-list:hover { opacity: .9; }
  
  #dev-list-mobile {
	display: none;
  }

  @media screen and (max-width: 600px) {
	.dev-list{
		display: none;
	}  
	#dev-list-mobile {
		display: block;
		font-size: 16px;
		position: absolute;
		padding: 10px;
		width: 200px;
		height: 220px;
		opacity: 0;
		bottom:30%;
		right: 23%;
		z-index: 1;
		font-size: 1em;
		color: #fff;
		transition-property: all;
		transition-duration: .35s;
		transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
		box-shadow: 5px 5px 5px rgb(0, 0, 0);
	  }  
	#dev-list-mobile list li {
		font-size:13px;
		padding : 1px;
	   }
	
	.triggerButton:hover ~ #dev-list-mobile {
		opacity: 1;
		background-color: #0F4C81;
		transform: translateY(-5em);
	  }
	  
	.triggerButton:hover ~ #dev-list-mobile:hover { opacity: .9; }   
  }
