@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400);
body{
  font-family: 'Source Sans Pro', sans-serif;
  font-weight:300;
  background-color:none;
  color:#FFF;
}
img{
  height:40px;
  align-items: center;
  padding:15px;

}
.nav-text1{
  width:14px;
}
section{
  text-align:center;
}
a{
  font-size: 1.3em;
}
.footer #button{
	width:35px;
	height:35px;
	border: #727172 12px solid;
	border-radius:35px;
	margin:0 auto;
	position:relative;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}
.footer #button:hover{
	width:35px;
	height:35px;
	border: #3A3A3A 12px solid;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	position:relative;
}
.footer {
	bottom:-70px;
  left:0;
	position:fixed;
    width: 100%;
    height: 100px;
    overflow:hidden;
    margin:0 auto;
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	z-index:999;
}
.footer:hover {
	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
	height: 430px;
}
.footer #container{

	width:100%;
  height:100%;
  position:relative;
  top:0%;
  left:0;
	background: #373737;
}
.footer #cont{
  position:relative;
	width:100%;
	height:auto;
	margin:0 auto;
}
.footer_center{
	width:100%;
  text-align:center;
}
